.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 27px 31px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 564px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: -1px auto 0 71px;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 25px auto 0 74px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 22px auto 0 71px;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 21px auto 0 73px;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 73px;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 71px;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: solid;
  margin: 18px auto 0 72px;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 72px;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  border-style: solid;
  margin: 11px auto 0 71px;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  border-style: solid;
  margin: 18px auto 0 71px;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  border-style: solid;
  margin: 24px auto 0 68px;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  border-style: solid;
  margin: 19px auto 0 70px;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  border-style: solid;
  margin: 22px auto 0 68px;
  padding: 0;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 19px 70px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 364px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 638px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -220px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -462px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 359px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 69px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 68px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -220px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-13 {
    margin-top: -207px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -537px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 144px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 14px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 9px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 9px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 1px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 1px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 638px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -222px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -222px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -220px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -462px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -220px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -537px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 14px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 13px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 6px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 13px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 12px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 16px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 15px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 15px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 16px;
    margin-bottom: 52px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 412px;
}

.u-section-3 .u-image-1 {
  width: 383px;
  height: 383px;
  margin: 0 auto 0 85px;
}

.u-section-3 .u-image-2 {
  width: 391px;
  height: 391px;
  margin: -383px 241px 21px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-2 {
    margin-right: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}