.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin-bottom: 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 33px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 31px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 36px auto 0 0;
  padding: 0;
}