 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/sk.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 139px 446px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 246px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 126px;
    margin-right: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 144px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px auto 0 388px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 1117px;
  grid-gap: 24px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 17px;
}

.u-section-2 .u-text-2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 325px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 278px;
  margin-top: -370px;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 112px 30px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 325px 30px 0;
}

.u-section-2 .u-image-2 {
  height: 278px;
  margin-top: -370px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 112px 30px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 17px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 325px 30px 0;
}

.u-section-2 .u-image-3 {
  height: 278px;
  margin-top: -370px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 112px 30px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 325px 30px 0;
}

.u-section-2 .u-image-4 {
  height: 278px;
  margin-top: -370px;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 112px 30px 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 325px 30px 0;
}

.u-section-2 .u-image-5 {
  height: 278px;
  margin-top: -370px;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  margin: 112px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 320px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 917px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 1616px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-1 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-2 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-3 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-4 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-5 {
    height: 263px;
    margin-top: -324px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 184px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2787px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 20px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2482px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 273px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
    width: 346px;
    margin-top: -335px;
    margin-right: 0;
    margin-left: -6px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 273px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-2 {
    height: 252px;
    width: 346px;
    margin-top: -335px;
    margin-right: 0;
    margin-left: -6px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 273px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-3 {
    height: 252px;
    width: 346px;
    margin-top: -335px;
    margin-right: 0;
    margin-left: -6px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 273px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-4 {
    height: 252px;
    width: 346px;
    margin-top: -335px;
    margin-right: 0;
    margin-left: -6px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 273px;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-image-5 {
    height: 252px;
    width: 346px;
    margin-top: -335px;
    margin-right: 0;
    margin-left: -6px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }
}