.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-image-1 {
  width: 1099px;
  height: 523px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 447px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 162px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1023px;
}

.u-section-2 .u-list-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 578px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0 8px;
}

.u-section-2 .u-list-2 {
  width: 1066px;
  margin: 12px auto 44px 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 0 -23px 0 4px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 351px;
  height: 351px;
  margin: 0 -23px 0 4px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 351px;
  height: 351px;
  margin: 0 -23px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 331px;
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 768px;
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 320px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 320px;
    margin-right: 0;
    margin-left: 0;
  }
}