.u-section-1 .u-sheet-1 {
  min-height: 714px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 564px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: -1px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 25px auto 0 74px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 22px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 21px auto 0 73px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 73px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: solid;
  margin: 18px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: solid;
  margin: 11px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: solid;
  margin: 18px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: solid;
  margin: 24px auto 0 68px;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: solid;
  margin: 19px auto 0 70px;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  border-style: solid;
  margin: 22px auto 0 68px;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 19px 70px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 364px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}