vti_encoding:SR|utf8-nl
vti_syncofs_expression-web-tutorials.com\:21/public_html/expression-web-tutorials:TW|22 Jun 2015 17:38:35 -0000
vti_author:SR|Latitude-PC\\Latitude
vti_modifiedby:SR|Latitude-PC\\Latitude
vti_timelastmodified:TR|08 Jul 2024 10:13:22 -0000
vti_timecreated:TR|08 Jul 2024 10:13:22 -0000
vti_cacheddtm:TX|08 Jul 2024 10:13:22 -0000
vti_filesize:IR|413
vti_cachedlinkinfo:VX|S|http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2 S|http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff
vti_cachedsvcrellinks:VX|NSHS|http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2 NSHS|http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Design-Shack-Responsive-Gallery.html gallery.html
